@using Logarex.Models
@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="layout-root">

    <nav class="topnav">
        <div class="brand">
            <a href="@Nav.BaseUri">
                <span>@PlatformSettings.PlatformName</span>
            </a>
        </div>

        <ul class="navlinks">
            <li>
                <NavLink href="@($"{Nav.BaseUri}about")">
                    О проекте
                </NavLink>
            </li>
        </ul>
    </nav>

    <main>
        @Body
    </main>

</div>
